// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}


{% block content %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

form(action='/search/', method='post')
  {% csrf_token %}
  {% bootstrap_form searchForm %}
  // {{ form.as_p }}
  span
    input.btn.btn-primary(type='submit', value='Rechercher')
    span  ou: 
    a(href="/admin/search/card/add") Ajouter une fiche manuellement

div.col-md-10
  {% block search_result %}
  {% endblock search_result %}
{% endblock content %}